<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="shortcut icon" href="">
	<link rel="stylesheet" type="text/css" href="../stylesheets/css/skeleton.css" media="screen" />
    <!-- Lato font -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' type="text/css">
    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="../stylesheets/css/jquery-ui.css" type="text/css">
</head>
<body>

<!--
//////////////////////////////////////
// Login Modal 
//////////////////////////////////////
-->
{{#unless authorLoggedIn}}
<div id="login-modal" class="login-modal">
    <div id="lab-id-modal-content" class="lab-id-modal-content">
        <p><b>Enter a new lab ID</b></p>
        <label for="lab-id-input">Lab ID</label>
        <input id="lab-id-input" name="lab-id-input" type="text">       
        <button id="lab-id-go-btn">Go</button>
        <p id="lab-id-modal-status" style="display: inline; color: red"></p>
    </div>
    <div id="signup-modal-content" class="signup-modal-content" style="display: none;">
        <p><b>Sign up</b></p>
        <table>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td style="text-align: left;"><label for="user-name-signup-input">User name</label></td>
                <td><input id="user-name-signup-input" name="user-name-signup-input" type="text"></td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align: left;"><label for="user-pass1-signup-input">Password</label></td>
                <td><input id="user-pass1-signup-input" name="user-pass1-signup-input" type="text"></td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align: left;"><label for="user-pass2-signup-input">Confirm your password</label></td>
                <td><input id="user-pass2-signup-input" name="user-pass2-signup-input" type="text"></td>
                <td><button id="login-modal-signup-btn">sign up</button></td>
            </tr>
        </table>
        <p id="login-modal-signup-status" style="display: inline; color: red"></p>
        <br>
        <a id="lab-id-link" href="#">Give a different lab ID</a>
        <br>
        <a href="/">Go to the main page</a>
    </div>
</div>
{{/unless}}

<!--
//////////////////////////////////////
// Main navigation section; info div
//////////////////////////////////////
-->
<!-- Main navigation section; info div -->
<div id="status" class="status">
    <input type="hidden" id="lab-lang" value="{{language}}">
    <a id="lab-id-link" href="/lab/{{labID}}?user={{user.userName}}&password={{user.password}}"><img id="lab-icon" src="../images/lab.png"/>{{labID}}</a>
    {{#if authorLoggedIn}}
        <p id="user-name"><img id="user-icon" src="../images/user.png"/>{{user.userName}}</p>
        <input type="hidden" id="user-password" value="{{user.password}}">
        <a id="sign-out" href="/lab/{{labID}}">Sign out</a>
    {{/if}}
</div>

<!-- Testcase List -->
<div id="author-testcase-list">
    <div class="testcase-list-content">
        {{{labDoc.labDescHTML}}}
        {{#each labDoc.checkpoints}}
        <div id="checkpoint{{@index}}">
            {{{descHTML}}}
            <hr>
            {{#each testCaseHTMLs}}
            <div id="testcase-list-item{{@../index}}-{{@index}}">
                <p class="slim-p">Testcase {{inc @index}} <span id="state{{@../index}}-{{@index}}"></span></p>
                <p class="slim-p"><i>Input</i> &nbsp; <i><span id="input{{@../index}}-{{@index}}"></span></i></p>
                <p class="slim-p"><i>Output</i> &nbsp; <i><span id="output{{@../index}}-{{@index}}"></span></i></p>
                <p class="slim-p"><b>Returned</b> &nbsp; <b><span id="result{{@../index}}-{{@index}}"></span></b></p>
                <p class="slim-p"><b>Status</b> &nbsp; <img id="status-img{{@../index}}-{{@index}}" src="../images/minus.png"/><span id="status{{@../index}}-{{@index}}"></span></p>
                <hr>
            </div>
            
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>

<!-- Tabs for lab description and checkpoints -->
<div id="viz">
</div>

<!--
//////////////////////////////////////
// Code Editor
//////////////////////////////////////
-->
<div id="editor" class="code-editor">
</div>

<!--
//////////////////////////////////////
// Code Editor Controls
//////////////////////////////////////
-->
<div id="code-button" class="author-control">
    <p>Load a lab.py file<input type="file" id="loadFileInput"></p>
    <button id="saveBtn" class="btn btn-primary btn-sm">Save &amp; publish</button>
    <p id="editor-status" style="display: inline-block;"></p>
</div>


<script src="../javascripts/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script> <!-- jQuery -->
<script src="../javascripts/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script> <!-- Ace -->
<script src="../javascripts/jquery.highlight-5.js" type="text/javascript" charset="utf-8"></script> <!-- Highlight -->
<script src="../socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script> <!-- Socket.io generated -->
<script src="../javascripts/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script> <!-- jQuery UI -->
<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script> <!-- Bootstrap -->
<script src="../javascripts/globals.js" type="text/javascript" charset="utf-8"></script> <!-- Custom Constants -->
<script src="../javascripts/jqconsole.js" type="text/javascript" charset="utf-8"></script> <!-- jqConsole -->
<script src="../javascripts/markdown.js" type="text/javascript" charset="utf-8"></script> <!-- Markdown -->
<script src="../javascripts/author.js" type="text/javascript" charset="utf-8"></script> <!-- Custom controller code -->
</body>
</html>